---
import '../styles/global.css' 
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ION Print & Promo</title>
		<description>Gibson Print, PROS Marketing and IO Promo have become ION Print & Promo! We've moved to 178 Tiffin St. Barrie, offering even MORE print services & promo products for enhanced business success.</description>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
